# Virtual Environment
v/
.v/
.v

# Python cache files
__pycache__/
*.pyc

# IDE files
.vscode/
.idea/

# Uploaded files folder (if managed by a persistent disk)
uploads/

# Other
*.log
app - Copy.py
create_tables - Copy.py
database - Copy.py
models - Copy.py